<div class="container anchor col-lg-12 col-md-12 col-xs-12 p-standard" id="about">
    <div class="jumbotron-about transparent">

      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="about-header">
              <h1>WILDA</h1>
            </div> <!-- end header -->
          </div>
        </div>
      </div>

    <div class="container">
      <div class=”row”>
        <div "col-md-12" class="col-xs-12">
          <div class="about-intro"> <!-- I removed the word "column" from the class=intro code -->
            <h2>Welcome to WILDA</h2>
            <p>
        Led by Claire Toussaint with a passion for creativity and innovation, WILDA encompasses all aspects of design from frontend development to backend procedurals. We take web development to a whole new level that will inspire not only our clients but everyone with an eye for design. Through the nurturing of good design and good relationships, we can anticipate to collaborate on industry changing ventures. We are excited to start a visual dialogue, learn about you, and make something amazing together.
          </p>
        </div> <!-- end intro -->
      </div>
    </div>
    </div>

    <div class="container">
    <div class=”row”>
      <div class="col-md-12" class="col-xs-12">
        <div class="about-main-text">
          <h3>More About WILDA</h3>
          <p>
        WILDA is founded from the name Wilda after Claire's aunt who passed away in May of 2016. She dedicates this site and her business to her aunt, who was like a sencond mother to her and inspired her in so many ways. With this driven force, Claire takes all projects in with joy and determination. All products and designs will be fully colaborated and curated to the clients desires.
          </p>
        </div> <!-- main text ends -->
      </div>
    </div><!-- end row -->
    </div><!-- end container -->

  </div> <!-- transparent jumbotron ends -->
  </div><!-- End Contact Page here -->
