// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  margin: 0;
  padding: 0;
	height: 100%;
}

div {
    display: block;
}

.transparent {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
	padding: 100px;
}

.p-standard {  /***Parallax settigns***/
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 45px;
	padding-right: 45px;
}

/************Navigation***********/

.anchor {
  padding-top: 50px;
}

.nav a{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-decoration: none;
	border-radius: 5%;
}

.projectName p {
  color: blue;
	font-weight: 700;
  text-decoration: none;
	float: left;
	font-size: 20px;
	padding-top: 15px;
}


.projectName p:hover {
  color: white;
}

.nav a:hover {
  color: white;
}

/************ Index ****************/

html, body {
	height: 75%;
}

div {
    display: block;
}

h1 {
  font-family: fantasy;
  color: blue;
  text-align: center;
  padding-top: 50px;
}
h2 {
  font-family: fantasy;
  color: black;
  text-align: center;
}

/************About************/

.about-intro {
  position: relative;
  top: 40px;
  text-align: left;
	padding-bottom: 50px;
}

.about-header h1 {
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  text-transform: capitalize;
	text-align: left;
}

.about-intro p {
  font-size: 22px;
	text-align: left;
	color: #fff;
}

.about-main-text {
  font-weight: 550;
	text-align: left;
}

#about {
  padding-bottom: 100px;
	background-color: white;
}

/************ Contact Page **********/

.contact-main {
  position: relative;
  top: 40px;
  text-align: left;
	padding-bottom: 50px;
}

.contact-main h1 {
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  text-transform: capitalize;
	text-align: left;
}

.contact-main p {
  font-size: 22px;
	text-align: left;
	color: #fff;
}

.contact-main-text {
  font-weight: 550;
	text-align: left;
}

.glyphicon {
	padding-right: 10px;
}

#contact {
  padding-bottom: 100px;
	background-color: white;
}

.form-control {
	width: 60%;
}

.contact-form-header {
	color: white;
}

#contact_form {
	color: white;
}

.fb-like {
 margin: 0 auto;
 padding-left: 25px;
}

.container-icon {
	float: left;
	padding-left: 15px;
}

#map {
	height: 300px;
	width: 600px;
	float: center;
	margin-bottom: 25px;
}

/*************Shop***************/

.items {
  margin-bottom: 10px;
}

.shop-header {
	text-align: center;
	font-size: 40px;
	color: black;
	padding-bottom: 30px;
}

#shop{
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
}

.shop-img {
  display: block; /* needed to center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  max-width: 200px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}
.info {
  position: absolute;
  top: 15%;
  left: 22%;
  color:#fff;
  font-family:Futura;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
	display: none;
}



/************ Footer ****************/

footer {
	color: white;
	font-weight: lighter;
	font-size: 1.3em;
	padding: 50px;
	padding-top: 100px;
}

#foot {
  background-color: black;
  margin-bottom: 20px;
  padding: 20px;
}
